".source.js, .source.jsx, .source.ts":
    "anonymous function":
        "prefix": "f"
        "body": """
                function(${1:args}) {
                \t${0:// body...}
                }
                """
    "function apply":
        "prefix": "apply"
        "body": """
                apply(${2:this}, ${3:array})
                """
    "function call":
        "prefix": "call"
        "body": """
                call(${2:this}, ${3:args})
                """
    "function bind":
        "prefix": "bind"
        "body": """
                bind(${2:this}, ${3:args})
                """
    "immediately-invoked function expression":
        "prefix": "iife"
        "body": """
                (function(window, document, undefined) {
                \t${0:// body...}
                })(window, document);
                """
    "function with name":
        "prefix": "fn"
        "body": """
                function ${1:methodName}(${2:args}) {
                \t${0:// body...}
                }
                """
    "generator function":
        "prefix": "gfn"
        "body": """
                function * ${1:methodName}(${2:args}) {
                \t${0:// body...}
                }
                """
    "async function":
        "prefix": "async"
        "body": """
                async function ${1:methodName}(${2:args}) {
                \t${0:// body...}
                }
                """
    "async arrow function":
        "prefix": "asynca"
        "body": """
                async() => {
                \t${0:// body...}
                }
                """
    "add prototype method":
        "prefix": "prototype"
        "body": """
                prototype.${2:methodName} = function(${3:args}) {
                \t${0:// body...}
                }
                """
